<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>COMPONENT SELECT VUE JS</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div id="app">
        <vue-select :list="cars" v-model="car"></vue-select>
        <div>Result: {{car}}</div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="js/scripts.js"></script>
</body>
</html>